.days__list {
  color: #ffffff;
  height: 50%;
  background-color: #bb3458;
  //padding: 20px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.days__item {

}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day__name, .day__temp {
  font-size: 11px;
}

.day__name {
  padding-bottom: 10px;
}

.day__temp {
  padding-top: 10px;
}

.day__weather {
  height: 20px;
  width: 20px;
}